# Ignore node_modules and package-lock.json in any app
**/node_modules/
**/package-lock.json

# Ignore Gradle files
.gradle/
**/build/
**/*.iml

# Ignore Android build files
**/local.properties

# Ignore CocoaPods dependency directory (iOS)
ios/Pods/
ios/Podfile.lock
ios/Podfile.user.lock

# Ignore Flutter build files
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_export_environment_strip.sh
**/ios/Flutter/flutter_patched_sdk_product.symlink
**/ios/Flutter/flutter_runner.symlink
**/ios/Flutter/flutter_root_symlink.stamp
**/ios/Flutter/flutter_symlink
**/ios/Flutter/flutter_symlink_metadata
**/ios/Flutter/flutter_xcode_build_output.symlink
**/ios/Flutter/ios_checkout_stamp
**/ios/Flutter/ios_frameworks.symlink
**/ios/Flutter/ios_sim_state.timestamp
**/ios/Flutter/profile.channel
**/ios/Flutter/published.sha1
**/ios/Flutter/report.json
**/ios/Flutter/sdk_xcframework_metadata.json
**/ios/Flutter/target.symlink

# Ignore Android/IntelliJ/Android Studio specific files
**/android/.gradle
**/android/.idea
**/android/local.properties
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/gradle-wrapper.jar
**/android/gradle-wrapper.properties
**/android/gradle/

# Ignore macOS specific files
.DS_Store

# Ignore Visual Studio Code specific files
.vscode/

# Ignore Flutter/Dart specific files
**/build/
.dart_tool/
.dart_plugins
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-dependencies.lock
.flutter-plugins-version
.flutter-version

# Ignore IntelliJ specific files
**/*.iml
.idea/
*.iml

# Ignore Android Studio/IntelliJ IDEA files
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/vcs.xml
.idea/vcs.settings.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/jsLibraryMappings.xml

# Ignore Gradle files
.gradle/
*.log

# Ignore iOS/Android build directories
ios/build/
android/build/

# Ignore Windows specific files
Thumbs.db
Desktop.ini
