.authApp {
  background-color: orange !important;
}

#App {
  background-color: var(--pageWrapper_background);
  height: 100%;
  width: 100%;
  margin: 0 !important;
}
#App a:hover,
#App a:active,
#App a:focus {
  text-decoration: none;
  color: var(--maincolor);
  outline: none;
}
#App h4 {
  color: rgba(245, 245, 245, 0.774);
  font-size: 18px;
}
#App a {
  color: #ffffff;
}
#App input,
#App button,
#App a {
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#App input:focus, #App input:active, #App input:hover,
#App button:focus,
#App button:active,
#App button:hover,
#App a:focus,
#App a:active,
#App a:hover {
  outline: none;
}
#App input[type=file] {
  height: auto;
  padding: 6px 0.75rem;
}
#App input[type=text],
#App input[type=password] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#App input, #App select {
  margin-top: 20px;
  width: 330px;
  padding: 12px 16px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: transparent;
  color: whitesmoke;
  transition: border-color 0.2s;
  border: transparent;
  border-bottom: 1px solid rgb(118, 174, 219);
}
#App select option {
  color: black;
  background-color: grey;
  height: 20px;
}
#App input:focus, #App select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  background-color: transparent;
  color: white;
}
#App input:-webkit-autofill {
  background-color: transparent !important;
}
#App .sidebar {
  top: 0;
  z-index: 1040;
  background-color: var(--sidebar_background);
  bottom: 0;
  position: fixed;
  left: 0;
  transition: all 0.2s ease-in-out;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 5px;
  box-shadow: 4PX 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: var(--header_height);
}
#App .sidebar.big {
  width: 230px;
}
#App .sidebar.small {
  width: 70px;
}
#App .sidebar.opened, #App .header, #App .page_wrapper {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  transition: all 0.2s ease-in-out;
}
#App .header {
  background-color: var(--header_background);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1039;
  height: var(--header_height);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
}
#App .page_wrapper {
  padding: 0;
  margin: 0;
  background-color: var(--pageWrapper_background);
  margin-top: var(--header_height);
  margin-top: -30px;
  padding: 110px 5% 10px 2%;
  min-height: 100% !important;
}
#App .page_wrapper.big {
  width: calc(100% - 230px);
  margin-left: 220px;
}
#App .page_wrapper.small {
  width: calc(100% - 70px);
  margin-left: 60px;
}
#App .page_wrapper.auth {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  background-color: var(--pageWrapper_background1) !important;
}

#mainNav {
  width: 100%;
  height: 100%;
  height: 70px;
  margin-top: 2.5px;
}
#mainNav .logoimg, #mainNav .account {
  width: auto;
  height: 100%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
#mainNav .logoimg {
  float: left;
  width: 200px;
  margin-left: 50px;
  font-family: Rosario;
  font-weight: bold;
  color: whitesmoke;
  font-size: 25px;
}
#mainNav .logoimg:hover {
  font-size: 28px;
  cursor: pointer;
  color: var(--active_a);
}
#mainNav .logoimg:hover .logo .colored {
  color: whitesmoke;
  font-weight: bolder;
}
#mainNav .logoimg .logo {
  width: 90%;
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: transparent !important;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
#mainNav .logoimg .logo .colored {
  color: var(--active_a);
}
#mainNav .account {
  float: right;
  margin-right: 30px;
  width: 220px !important;
  overflow: hidden;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
#mainNav .account .user, #mainNav .account .form {
  height: 90%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#mainNav .account .user {
  float: left;
  color: white;
}
#mainNav .account .user p {
  margin-top: -5px;
}
#mainNav .account .user img {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin-top: 10px;
}
#mainNav .account .form {
  float: right;
}
#mainNav .account button {
  margin-left: 5px;
}
#mainNav .account button:hover {
  cursor: pointer;
  color: var(--active_a);
}

#authenticate {
  height: 600px;
  background-color: var(--maincolor_extralight);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#authenticate .error {
  color: orangered;
}
#authenticate form {
  padding: 10px 5px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#authenticate form .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
#authenticate form .circle img {
  width: 100%;
  height: 100%;
}
#authenticate form h4 {
  margin-top: 10px;
}
#authenticate form button {
  background-color: var(--maincolor_dark);
  color: var(--active_a);
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
  margin-top: 20px;
}
#authenticate form button:hover {
  opacity: 1;
}

.page_wrapper {
  margin-left: 0;
}

@media screen and (max-width: 1200px) {
  #authenticate {
    margin-top: 20px;
    height: 620px;
  }
}
@media screen and (max-width: 800px) {
  #authenticate {
    margin-top: 5px;
    height: 620px;
  }
}
@media screen and (min-width: 1200px) {
  #authenticate {
    margin-top: 20px;
    height: 620px;
    width: 80%;
    margin-left: 10%;
  }
  #authenticate form {
    width: 40%;
  }
}

/*# sourceMappingURL=authenticate.module.css.map */
