.SearchBar {
  margin-top: 0 !important;
  float: right;
  width: 98%;
  text-align: right;
  padding-right: 2% !important;
}
.SearchBar article.button{
  border-bottom: 1px solid grey;
  margin-left: 20px !important;
  height: 40px !important;
  text-align: left !important;
  width: auto !important;
  display: flex !important;
  justify-content: left !important;
  padding: 0px 10px !important;
}
.SearchBar article.button div{
  height: 20px !important;
}
.SearchBar article.button div:nth-child(n+2){
  margin-left: 20px;
}
.SearchBar article.button div:hover{
  text-decoration: underline !important;
  cursor: pointer;
}
.SearchBar article.button div.active{
  font-weight: bold;
  color: var(--button_back);
}
.SearchBar input, .SearchBar select {
  border: 1px solid grey !important;
  background-color: rgba(128, 128, 128, 0.2039215686) !important;
  color: black !important;
  margin-left: 5px !important;
  height: 10px !important;
}
.SearchBar.report, .SearchBar.tracking {
  float: left;
  text-align: left;
  background-color: rgba(128, 128, 128, 0.534);
  border-bottom: 2px solid rgba(128, 128, 128, 0.712) !important;
  margin-bottom: 5px !important;
  margin-top: -16px !important;
  width: 99.6% !important;
}
.SearchBar.report input, .SearchBar.report select, .SearchBar.tracking input, .SearchBar.tracking select {
  width: 150px !important;
  margin: 0px 10px 0px 20px !important;
}
.SearchBar.report select, .SearchBar.tracking select {
  margin-top: -2px !important;
  margin-bottom: 0 !important;
  color: black !important;
}
.SearchBar article {
  padding: 0 !important;
  float: left !important;
  width: 28% !important;
  height: 50px !important;
  text-align: left !important;
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
}
.SearchBar article:last-child {
  width: 15% !important;
}
.SearchBar article:last-child button {
  margin: 0 !important;
}
.SearchBar button {
  float: left !important;
}

#thePage {
  margin-top: 0 !important;
}
#thePage .error {
  color: #a52a2a;
}
#thePage .success {
  color: navy;
}
#thePage.thePage {
  background-color: white;
}
#thePage .otherbuttons {
  padding: 0 15px !important;
}
#thePage .otherbuttons button {
  color: white !important;
}
#thePage .otherbuttons button:hover {
  color: rgb(245, 243, 239) !important;
}
#thePage h2 {
  padding: 0px !important;
}
#thePage .page {
  margin-top: 0 !important;
  padding: 0px !important;
}
#thePage .page table {
  margin-top: 20px !important;
}
#thePage .page table thead th, #thePage .page table tbody td {
  height: 40px !important;
  margin-top: 5px;
  text-align: left !important;
}
#thePage .page table tbody tr td:first-child, #thePage .page table thead tr th:first-child {
  text-align: center !important;
}
#thePage .page table .active, #thePage .page table .inactive {
  border-radius: 5px;
  color: white;
}
#thePage .page table .active {
  background-color: #088006;
}
#thePage .page table .inactive {
  background-color: red;
}
#thePage .page i {
  color: var(--button_back);
}
#thePage .page button.active {
  background-color: #088006;
}
#thePage .page button.download {
  background-color: #F68602;
}
#thePage .page button.inactive {
  background-color: transparent !important;
  border: none !important;
}
#thePage .page.specific tr {
  border: 1px solid grey !important;
}

#thePage .page.add {
  background-color: green;
}
#thePage .page.group {
  background-color: purple;
}
#thePage .page.other {
  background-color: orange;
}


@media screen and (max-width: 800px) {
  #thePage {
    margin-top: 0 !important;
  }
}
